<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="d-flex gap-2">
  <%= link_to "Show", @friend, class: "btn btn-primary" %> 
  <%= link_to "Friends", friends_path, class: "btn btn-info" %>
</div>
