<p style="color: green"><%= notice %></p>


<div id="friends" class="container d-flex justify-content-start flex-wrap">
  <% @friends.each do |friend| %>
    <%= render friend %>
  <% end %>
</div>
<%= link_to "Add friend", new_friend_path, class: "btn btn-secondary ms-4 mt-4" %>